.listplace {
}

.listplace h1 {
	text-align: center;
	color: rgba(0, 0, 0, 1);
	margin: 50px 0;
	font-weight: 800;
	font-size: 50px;
}

.listplace .item {
	border: 1px solid rgba(215, 215, 215, 1);
	padding: 15px;
	padding-bottom: 20px;
	background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
	border-radius: 20px;
	margin-bottom: 20px;
}

.listplace .item img {
	width: 100%;
}

.listplace .item .second {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.listplace .item .second div {
	display: flex;
	justify-content: space-between;
}

.listplace .item .second div:last-child img {
	width: 40%;
}

.listplace .item .second p {
	font-size: 13px;
	color: rgba(67, 67, 67, 1);
	font-weight: 500;
}

.listplace .item .second div:nth-child(1) p:last-child {
	font-weight: 900;
}

@media screen and (max-width: 760px) {
	.listplace h1 {
		font-size: 30px;
	}
	.listplace .item .second p {
		font-size: 16px;
	}
}
