.nfts {
	margin-top: 80px;
	background: var(--primary-btn);
	padding: 8rem 0;
	border: 1px solid #000000;
}

.nfts .col-md-6:first-child {
	display: flex;
	align-items: center;
	color: var(--primary-white);
}

.nfts .left h1 {
	font-size: 3rem;
	font-weight: 800;
}

.nfts .left p {
	font-size: 1.3rem;
	width: 75%;
}

.nfts .left {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
}

.nfts .button {
	outline: none;
	border: none;
	padding: 15px 60px;
	border-radius: 8px;
	width: fit-content;
	font-weight: 600;
	color: #a02279;
	font-size: 18px;
}

@media screen and (max-width: 760px) {
	.nfts img {
		width: 100%;
	}

	.nfts {
		margin-top: 80px;
		background: var(--primary-btn);
		padding: 8rem 0;
		border: 1px solid #000000;
	}

	.nfts .col-md-6:first-child {
		display: flex;
		align-items: center;
		color: var(--primary-white);
	}

	.nfts .left h1 {
		font-size: 2rem;
	}

	.nfts .left p {
		font-size: 1.2rem;
		width: 100%;
	}

	.nfts .left {
		gap: 1.2rem;
		margin-bottom: 40px;
	}

	.nfts .button {
		padding: 15px 60px;
		border-radius: 8px;
		font-size: 18px;
	}
}
