.profile {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	padding: 5rem 0 0 0;
	position: relative;
}

.icon-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.icon-container {
	position: relative;
	right: 1px;
	border: 2px dotted #d0d5dd;
	height: fit-content;
	width: fit-content;
	padding: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.icon-container:hover {
	background-color: #d0d5dd;
}

.profile .icon-container img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile #profile__img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	object-fit: fill;
}

.profile #title {
	font-size: 1.4rem;
	font-weight: 700;
}

.profile #slack {
	display: none;
}

.desktop {
	display: block;
}
.mobile {
	display: none;
}

@media screen and (max-width: 760px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}
