.home {
	height: fit-content;
	margin-bottom: 80px;
	margin-top: calc(100vh - 40%);
}

.modal-wrapper {
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: red;
	z-index: 399;
}

.home .left {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.home .left h1 {
	font-size: 45px;
	line-height: 60px;
	width: 90%;
}

.home .left p {
	font-size: 20px;
	color: rgba(67, 67, 67, 1);
	text-align: justify;
	line-height: 30px;
	width: 88%;
}

.home .left h1 span {
	color: #a02279;
	font-size: inherit;
}

.home .input-container {
	display: flex;
	width: 82%;
}

.home input {
	outline: none;
	width: 70%;
	border: 1px solid #a3a3a3;
	padding: 15px;
	border-radius: 8px 0 0px 8px;
}

.home input::placeholder {
	color: #b8b8b8;
}

.home button {
	width: 30%;
	outline: none;
	border: none;
	padding: 16px 40px;
	background: var(--primary-btn);
	color: var(--primary-white);
	border-radius: 0 8px 8px 0;
}

.home .right {
	display: flex;
	justify-content: flex-end;
}

.modal-wrapper {
	position: fixed;
	width: 100%;
	width: 100%;
	background: red;
}

@media screen and (max-width: 760px) {
	.home {
		min-height: 100vh;
		margin-top: 30vh;
	}

	.home .left {
		gap: 20px;
		margin-bottom: 50px;
	}

	.home .left h1 {
		font-size: 35px;
		line-height: 40px;
		width: 100%;
	}

	.home .left p {
		font-size: 20px;
		line-height: 30px;
	}

	.home .input-container {
		width: 100%;
	}

	.home .right {
		width: 100%;
	}

	.home .right img {
		width: 100%;
	}
}
