.contact-me {
	margin-top: 10vh;
	padding-bottom: 12vh;
}

.contact-me .forms {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.contact-me .title-container h1 {
	font-size: 25px;
	font-weight: 600;
}

.contact-me .title-container p {
	margin-top: 10px;
	font-size: 18px;
	color: #475467;
}

.contact-me input::placeholder,
textarea::placeholder {
	color: #667085;
}

.contact-me label {
	font-weight: 500;
	font-size: 16px;
}

.contact-me .forms input,
.contact-me .forms textarea {
	padding: 15px;
	border-radius: 8px;
	border: 1px solid #d0d5dd;
	outline: none;
}

.contact-me .forms .input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact-me .forms .first {
	display: flex;
	gap: 20px;
	align-items: center;
	width: 100%;
}

.contact-me .forms .first .input-container {
	width: 100%;
}

.contact-me button {
	width: 100%;
	color: #fff;
	background-color: var(--primary-blue);
	border: none;
	outline: none;
	padding: 15px;
	border-radius: 8px;
	font-weight: 500;
	cursor: pointer;
}

.contact-me .checkbox-container {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #475467;
}

@media screen and (max-width: 760px) {
	.contact-me .forms .first {
		flex-direction: column;
		gap: 30px;
	}
}
