.footer {
	background-color: rgba(29, 29, 30, 1);
}

.footer .content {
	padding: 80px 0;
}

.footer .flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer .flex .left {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: 45%;
	justify-content: space-between;
	gap: 60px;
}

.footer .flex .left .social-icons a {
	display: inline;
	text-decoration: none;
	margin-right: 25px;
}

.footer .flex .right {
	display: flex;
	width: 60%;
	align-items: flex-end;
	justify-content: space-between;
}

.footer .flex .right .inner-left,
.footer .flex .right .inner-right {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.footer .inner-left a:first-child,
.footer .inner-right a:first-child {
	font-weight: 700;
	font-size: 20px;
}

.footer a {
	text-decoration: none;
	color: rgba(241, 243, 249, 1);
	transition: color 0.5s ease;
}

.footer a:hover {
	color: #a02279;
}

.footer p {
	color: rgba(241, 243, 249, 1);
}

/*  */
@media screen and (max-width: 760px) {
	.footer .content {
		padding: 30px 0;
	}

	.footer .flex {
		flex-direction: column-reverse;
	}

	.footer .flex .left {
		margin-top: 50px;
		align-items: center;
		gap: 2rem;
		width: 100%;
	}

	.footer .flex .left img {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

	.footer .flex .left .social-icons {
		width: 70%;
		display: flex;
		justify-content: space-between;
	}

	.footer .flex .right {
		margin-top: 20px;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
	}

	.footer .flex .right .inner-left,
	.footer .flex .right .inner-right {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
}
