.list-links {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.list-links a {
	text-decoration: none;
}

.list-links .item {
	border: 2px solid var(--primary-background);
	background-color: var(--primary-background);
	color: var(--primary-black);
	font-weight: 600;
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.7s ease;
}

.list-links .item:hover {
	background-color: #d0d5dd;
}
